In [21]:
my_list = [1,2,3]

In [22]:
my_list

[1, 2, 3]

In [23]:
my_list = ['string',23,0.1,'o'] #Lists contain different objects

In [24]:
my_list

['string', 23, 0.1, 'o']

In [25]:
len(my_list) #Length function

4

In [26]:
my_list = ['ONE', 'TWO','THREE',4,5]

In [27]:
my_list[0]

'ONE'

In [28]:
my_list[1:]

['TWO', 'THREE', 4, 5]

In [29]:
my_list[:2]

['ONE', 'TWO']

In [30]:
my_list[::-1] #Reverse

[5, 4, 'THREE', 'TWO', 'ONE']

In [32]:
my_list = my_list + [6,7] #Concatinating

In [33]:
my_list

['ONE', 'TWO', 'THREE', 4, 5, 6, 7]

In [34]:
my_list = my_list + [8]*3 #Adds 3 '8' at the end

In [35]:
my_list

['ONE', 'TWO', 'THREE', 4, 5, 6, 7, 8, 8, 8]

In [36]:
my_list * 2

['ONE',
 'TWO',
 'THREE',
 4,
 5,
 6,
 7,
 8,
 8,
 8,
 'ONE',
 'TWO',
 'THREE',
 4,
 5,
 6,
 7,
 8,
 8,
 8]

In [52]:
l = [1,2,3]

In [53]:
l.append('appended string')

In [54]:
l

[1, 2, 3, 'appended string']

l.pop(0) pops of the '0' index

In [55]:
l.pop(0)

1

In [56]:
l

[2, 3, 'appended string']

In [57]:
l.pop()

'appended string'

In [58]:
l

[2, 3]

In [59]:
x = l.pop(1)

In [60]:
x

3

In [61]:
l

[2]

In [62]:
l[1] #Error will occur

IndexError: list index out of range

In [63]:
my_list = ['a','e','x','b','c']

In [64]:
my_list

['a', 'e', 'x', 'b', 'c']

In [65]:
my_list.reverse()

In [66]:
my_list

['c', 'b', 'x', 'e', 'a']

In [67]:
my_list.sort()

In [68]:
my_list

['a', 'b', 'c', 'e', 'x']

In [69]:
new_list = [3,4,5,3,7,2,4,1,0]

In [70]:
new_list.append(9)

In [71]:
new_list.sort()

In [72]:
new_list

[0, 1, 2, 3, 3, 4, 4, 5, 7, 9]

In [73]:
row1 = [1,0,0]

In [75]:
row2 = [4,5,7]

In [76]:
row3 = [-2,0,0]

In [77]:
matrix = [row1,row2,row3]

In [78]:
matrix

[[1, 0, 0], [4, 5, 7], [-2, 0, 0]]

In [79]:
matrix[1]

[4, 5, 7]

In [80]:
matrix[1][1]

5

In [81]:
first_col = [row[0] for row in matrix] # Every element of the matrix grab the first element of them.

In [82]:
first_col

[1, 4, -2]

## Advanced List Methods

In [83]:
l = [1,2,3]

In [84]:
l.append(4) # Add '4' at the end of list

In [85]:
l

[1, 2, 3, 4]

In [86]:
l.count('o') #Returns how many 'o' value in that list

0

In [87]:
l.count(2) #Returns how many '2' value in that list

1

### Append vs. Extend

In [89]:
x = [1, 2, 3]
x.append([4, 5])
print (x)

[1, 2, 3, [4, 5]]

In [90]:
x = [1, 2, 3]
x.extend([4, 5])
print (x)

[1, 2, 3, 4, 5]

-------------------------------------

In [92]:
l = l + [4]

In [93]:
l

[1, 2, 3, 4, 4]

In [94]:
l.index(3) #Index of the element '3'

2

In [95]:
l.index(4) #Returns the index of first '4' from the beginning of list

3

In [96]:
l.index(99) #Error will occur

ValueError: 99 is not in list

In [97]:
l

[1, 2, 3, 4, 4]

In [98]:
l.insert(2,'x') # insert(index,object)

In [99]:
l

[1, 2, 'x', 3, 4, 4]

In [100]:
x = l.pop()

In [102]:
print (x,' and ',l)

4  and  [1, 2, 'x', 3, 4]

In [103]:
l

[1, 2, 'x', 3, 4]

In [104]:
l.remove('x') # Removes the first occurrence of a value

In [105]:
l

[1, 2, 3, 4]

In [106]:
l = [1,2,3,4,5,3,4,3,8]

In [107]:
l

[1, 2, 3, 4, 5, 3, 4, 3, 8]

In [108]:
l.remove(3)

In [109]:
l

[1, 2, 4, 5, 3, 4, 3, 8]

In [110]:
l.reverse() #Reverses the list

In [111]:
l

[8, 3, 4, 3, 5, 4, 2, 1]

In [112]:
l.sort() #Sorts the list

In [113]:
l

[1, 2, 3, 3, 4, 4, 5, 8]